.social {
    border-bottom: 0.5px solid rgba(10,30,50,.1);
    width: 95vw;
    background-color: aquamarine;
    overflow-x: hidden;
}

.social__First {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding-bottom: 30px;
}

.social__First > li {
    list-style: none;
    line-height: 0px;
    flex-basis: calc(32.33% - 10px);
}

.social__First > li >p{
    font-size: 1.6rem;
}

.socialFirst__Input{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    height: 40px;
}

.socialFirst__Input >input{
    font-size: 1.4rem;
    outline: none;
    width: 100%;
    box-sizing: border-box;

    /* background: transparent; */
    border: none;
    font-size: 1.5rem;
    /* font-weight: 550; */
    line-height: 1.5;
}

.social__Icons {
    font-size: 2.2rem;
    color: grey;
    padding-left: 8px;
    padding-right: 8px
}



@media screen and (max-width: 968px) {
    .social__First > li {
        list-style: none;
        line-height: 0px;
        /* width: 28%; */
        flex-basis: calc(50% - 5px);
    
    }

    .socialFirst__Input >input{
        font-size: 1.4rem;
        outline: none;
        width: 100%;
        box-sizing: border-box;
    }
    
}
@media screen and (max-width: 480px) {
    .social__First > li {
        list-style: none;
        line-height: 0px;
        /* width: 28%; */
        flex-basis: calc(100% - 10px);
    
    }

    .socialFirst__Input > input{
        font-size: 1.4rem;
        outline: none;
        width: 100%;
        box-sizing: border-box;
    }
    
}