

.profileDetails__About {
    border-bottom: 0.5px solid rgba(10,30,50,.1);
    width: 95vw;

}

.profileDetails__Text {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 2.5rem;
    padding-bottom: 12px;
    align-items: center;
}

.profileDetails__Text > h1 {
    letter-spacing: 1.5px;
    color: #242424;
    font-weight: 700;
}



.profileDetails__Input > textarea {
    width: 100%;
    height: 100px;
    outline: none;
    border:none;
    border-radius: 8px;
    resize: none; 
    margin: 1px;
    margin-bottom: 30px;
    font-size: 1.6rem;
    padding-top: 12px;
    padding-left: 12px;
    box-sizing:border-box;
}

.profileDetails__Input > textarea::placeholder {
    font-size: 1.6rem;
}


@media screen and (max-width: 875px) {


    .profileDetails__Text {
        width: 95%
    }
    
}